/*

  This template uses "customize.css" to read colors and
  font settings and sizing of the Scoreboard graphic.
  Also see README.pdf for information.

  PLEASE SEE THE LICENSE FILE FOR TERMS AND CONDITIONS.  
  Copyright 2021- spx.graphics

*/


:root {

  --edge-margin-top:      0px;
  --edge-margin-left:     0px;
  --edge-margin-right:    0px;
  --scoreboard-height:    105px;
  --background-color:     rgba(245, 136, 3, 0.813);
 
  --teamname-font:        'BOLD';
  --teamname-fontsize:    1.5em;
  --teamname-color:       rgb(0, 0, 0);
  --teamname-shadow:      0px 0px 6px rgba(219, 86, 86, 0.8),
                          0px 4px 15px rgba(233, 38, 4, 0.7);

  --score-font:           'BOLD';
  --score-fontsize:       1.6em;
  --score-color:          rgb(255, 255, 255);
  --score-shadow:         0px 2px 3px rgba(255, 72, 0, 0.9),
                          0px 0px 20px rgba(131, 53, 14, 0.9);
  
  --clock-font:           'REGULAR';
  --clock-fontsize:       1.3em;
  --clock-color:          rgb(255, 255, 255);
  --clock-shadow:         0px 2px 3px rgb(0, 0, 0),
                          0px 0px 20px rgba(0, 0, 0, 0.6);

}

@font-face { font-family: "LIGHT"; src: url("./fonts/TitilliumWeb-Light.ttf"); }
@font-face { font-family: "REGULAR"; src: url("./fonts/TitilliumWeb-Regular.ttf"); }
@font-face { font-family: "MEDIUM"; src: url("./fonts/TitilliumWeb-SemiBold.ttf"); }
@font-face { font-family: "BOLD"; src: url("./fonts/TitilliumWeb-Bold.ttf"); }
@font-face { font-family: "BLACK"; src: url("./fonts/TitilliumWeb-Black.ttf"); }