@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30px;

}

.container{
    min-width: 100%; 
     min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;   
}



.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
   
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-container .cont2 {
    position: absolute;
    width: 580px;
    top: -52px;
    height: 110vh;
    text-align: center;
    z-index: 1000;
    transform: translate(-550px) scale(3)  rotate(-9deg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.video-container .cont2.zoomed {
    transform: translate(220px)  rotate(-8.9deg) scale(1);
    transition:   transform 710ms ; 
}



.cont-1 .logo{
    position: absolute;
    width: 300px;
    height: 93px;
    top:25px;
    right: 400px;
    text-align: center;
    z-index: 1000;
    align-items: center;
    text-align: center;
    transition:   transform 30ms ; 
    transform: translate(-200px,50%) rotate(5deg) scale(3) ;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
    
}


.logo.zoomed {
    transform: scale(1);
    opacity: 1;
  
    
}


.cont-1 {
    position: absolute;
    width: 1100px;
    top:13%;
    right: 0;
    height: 80vh;
    text-align: center;
    z-index: 1000;
    text-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
   
}


.cont-1 .cont{
    position: relative;
    width: 1080px;
    height: 650px;
    top:175px;
    right:0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.cont-1 .cont .posicion{
    position: relative;
    width:1080px;
    display: flex;
    height: 120px;
    position: absolute;
    top: 0;
}
.cont-1 .cont div  p{
   
    align-items: center;
    padding: 2px;
}
.cont-1 .cont .posicion ,.posicion-b,.posicion-c,.posicion-e{
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width:1080px;
    display: flex;
    height: 120px;
    
   
}
.cont-1 .cont .posicion-b{position: absolute;top: 30%;}
.cont-1 .cont .posicion-c{position: absolute;top: 56%;}

.cont-1 .cont .posicion-e{
    position: absolute;
    top: 80%; 
}
.cont-1 .cont .posicion1 div:nth-child(1){
    left: 43%;
    position: absolute;
    width: 220px;
    top: 16px;
    opacity: 0;
   
   
}
.cont-1 .cont .posicion1 div:nth-child(2){
    left: 65px;
    position: absolute;
    width: 219px;
    top: 67px;
    opacity: 0;


}
.cont-1 .cont .posicion1 div:nth-child(3){
    right: 0;
    position: absolute;
    width: 274px;
    top: 67px;
    opacity: 0;
}
.cont-1 .cont .posicion2 div:nth-child(1){
    left:28%;
    position: absolute;
    width: 252px;
    top: 68px;
    opacity: 0;
}
.cont-1 .cont .posicion2 div:nth-child(2){
    right: 18%;
    position: absolute;
    width: 220px;
    top: 68px;
    opacity: 0;

}

.cont-1 .cont .posicion3 div:nth-child(1){
    left:10%;
    position: absolute;
    width: 220px;
    top:49px;
    opacity: 0;
}
.cont-1 .cont .posicion3 div:nth-child(2){
    left: 42%;
    position: absolute;
    width: 240px;
    top: 70px;
    opacity: 0;
}
.cont-1 .cont .posicion3 div:nth-child(3){
    right: 1%;
    position: absolute;
    width: 220px;
    top:49px;
    opacity: 0;
}


.cont-1 .cont .posicion4 div:nth-child(1){
    left: 43%;
    position: absolute;
    width: 225px;
    top: 30px;
    opacity: 0;
}



