@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(255, 255, 255);

}

.container{
    min-width: 100%; 
     min-height: 100%;
    position: fixed;
    right: 0;
    z-index: 1000;
    height: 100vh;


}



.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
    object-fit: cover;
    z-index: -1;
}


.cont-2 {
    z-index: 5000;
    height: 75vh;
    width: 53%;
    position: absolute;
    right: 70px;
    top: 200px;
    display: flex;
    flex-direction: column;
   
   
}

.cont-2 .cont{
    height: 60vh;
    width:100%;
    position: relative;
    top:128px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  
   
}
.cont-2 .info-button{
    position: absolute;
    right: 50px;
 
    width: 800px;
    height: auto;
    bottom: 0;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    opacity: 0;
    text-wrap: nowrap;
    overflow: hidden;
   
   
}
.cont-2 .cont .info{
    width:100%;
    height: 65px;
    display: flex;
    font-size: 30px;
 
    position:relative;
    align-items: center;
    left: 0;
    overflow: hidden;
    margin-bottom: 4px;
    
}
.cont-2 .cont .info div{
  position: absolute; 
  opacity: 0;
  box-sizing: border-box;
  color: black;
 
}

.cont-2 .cont .info .e{
    right: 35px;
    width: 65px;
    text-align: center;
    opacity: 0;
 
 }
 .cont-2 .cont .info .c{
    right:150px;
    width: 65px;
    text-align: center;
    opacity: 0;
 }

 .cont-2 .cont .info0 .e{
    right: 35px;
    width: 65px;
    text-align: center;
    background-color:#be1e32;
    color: #fff;
 }



.cont-2 .cont .info0 .a{left:105px;}
.cont-2 .cont .info0 .b{left: 195px;}

.cont-2 .cont .info1 .a{left:120px; }
.cont-2 .cont .info1 .b{left: 210px;}

.cont-2 .cont .info2 .a{left:135px; }
.cont-2 .cont .info2 .b{left: 225px; }

.cont-2 .cont .info3 .a{left:147px;}
.cont-2 .cont .info3 .b{left: 240px; }

.cont-2 .cont .info4 .a{left:158px; }
.cont-2 .cont .info4 .b{left: 250px; }

.cont-2 .cont .info5 .a{left:168px;}
.cont-2 .cont .info5 .b{left: 260px; }

.cont-2 .cont .info6 .a{left:178px;}
.cont-2 .cont .info6 .b{left: 270px; }

.cont-2 .cont .info7 .a{left:188px;}
.cont-2 .cont .info7 .b{left: 280px; }

.cont-2 .cont .info8 .a{left:198px;}
.cont-2 .cont .info8 .b{left: 290px; }






.cont-2 .logo{
    position: absolute;
    width: 300px;
    height: 90px;
    top:10px;
    right:370px;
    
    margin: auto;
    text-align: center;
    z-index: 1000;
    align-items: center;
    text-align: center;
    transition:   transform 600ms; 
    transform: translate(200px ,60%) rotate(2deg)  scale(1.4)  ;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
}



.logo.zoomed {
    transform: scale(1);
    opacity: 1;
  
    
}




