body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;

}


.container {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  width: 1250px;
  height: 250px;
  top: 70%;
  left: 10.2vh;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  color: white;
}
.CHE {
  width: 227px;
  height: 37px;
  position: absolute;
  top: 2px;
  left: 22.5%;
  background-image: url("../img/CHE.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.cont-1 {
  width: 1250px;
  height: 196px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;

  padding-top: 50px;
  box-sizing: border-box;
  bottom: 40px;

}

.cont-1 .cont-left {
  width: 283px;
  height: 194px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  bottom: 0;
  opacity: 0;
  background-image: url('../img/logo_panna.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.cont-1 .mtg {
 background-color: rgb(255, 255, 255);
 color:black;
 width: 509.1px;
 height: 40px;
 position: absolute;
 bottom: -20px;
 text-align: center;
 z-index: 1000;
 font-size: 23px;
 letter-spacing: 1px;
 opacity: 0;
 line-height: 40px;



}

.cont-1 .cont-left .logo1 {
  width: 100%;
  overflow: hidden;
}
.cont-1 .cont-left .logo2 {
  width: 100%;
  overflow: hidden;
}

.cont-1 .cont-center {
  width: 227px;
  height: 194px;
  position: relative;
  background-image: url("../img/pisarra.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 500;
 
}
.cont-1 .cont-center .numbrer {
  width: 75px;
  height: 75px;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  opacity: 0;
  overflow: hidden;
}
.cont-1 .cont-center div:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 0;
}
.cont-1 .cont-center div:nth-child(2) {
  width: 75px;
  height: 75px;
  left: 35%;
}
.cont-1 .cont-center div:nth-child(3) {
  width: 75px;
  height: 75px;
  right: 0;
}
.cont-1 .cont-center div:nth-child(4) {
  width: 75px;
  height: 75px;
  left: 0;
  bottom: 40px;
}
.cont-1 .cont-center div:nth-child(5) {
  width: 75px;
  height: 75px;
  left: 35%;
  bottom: 40px;
}
.cont-1 .cont-center div:nth-child(6) {
  width: 75px;
  height: 75px;
  right: 0;
  bottom: 40px;
}

.cont-1 .cont-center .pizarra {
  width: 100%;
}
.cont-1 .cont-center .pizarra img {
  width: 100%;
}

.cont-1 .cont-right {
  width: 378px;
  height: 194px;
  position: relative;
  background-image: url("../img/pizarra2.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  z-index: 0;
  color: rgb(0, 0, 0);
 

}
.cont-1 .cont-right .text-cont {
  width: 100%;
  height: 65px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 28px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

 
}
.cont-1 .cont-right .text-cont .bfx {
  position: absolute;
  left: 25px;
  
}
.cont-1 .cont-right .text-cont .bfp {
  position: absolute;
  right: 48px;
  width: 65%;
 
}
.cont-1 .cont-logo {
  width: 370px;
  height: 194px;
  position: relative;
  right: 0;
  background-image: url("../img/panel3.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}
